<?php
namespace App\Controller;

use Symfony\Component\HttpFoundation\Response;

class DefaultController {

  public function index() {
    return new Response('<p>Hello!</p>');
  }
}

// REQUIRES THIS IN ROUTES.YAML
// index:
//   path: /
//   controller: App\Controller\DefaultController::index